<div class="text-center hero">
    <h1 class="display-4">Hi, I'm <span class="font-family: fw-bolder">Yerson</span></h1>
    <h2>Soy un desarrollador Full-Stack especializado en tecnologías .NET, Java y JavaScript</h2>
    <img id="foto" src="~/images/mi_profile.png" alt="Profile Picture" />
</div>

<div class="text-center">
    <img id="dotnet-image" src="~/images/dotnet-imagen-2.png" alt="dotnet logo" />
</div>

<div class="row justify-content-center text-center welcomeBackground">
    <div class="col col-md-7 welcome-section">
        <h1>Welcome to my portfolio!</h1>
        <p>
            I have been developing software since 2020. I've had the privilege to work on different project as a freelancer, All of this working mainly with C#/ASP.NET, SQL Server, Entity Framework, JavaScript, and Java/Springboot'
        </p>
    </div>
</div>