@model HomeIndexViewModel

@{
    ViewData["Title"] = "Home";
}

<partial name="_Presentation"/>

<partial name="_Habilities"/>

@if (Model.Projects is not null)
{
    <div class="text-center" style="padding-top: 6rem;">
        <h1>My recent projects</h1>
        <p>Here you will see some of my jobs</p>
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var project in Model.Projects)
            {
                <div class="col"> 
                    <div class="card h-100">
                        <img src="@project.ImageUrl" class="card-img-top" alt="Project Image" />
                        <div class="card-body">
                            <h5 class="card-title">@project.ProjectTitle</h5>
                            <p class="card-text">@project.Description</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary" href="@project.Link" target="_blank" rel="noopener noreferrer">Visit</a>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
}
