@model string
@{
    ViewData["Title"] = "Home";
}

<div class="text-center hero">
    <h1 class="display-4">Hi, I'm @Model</h1>
    <h2>Soy un desarrollador Full-Stack especializado en tecnologías .NET, Java y JavaScript</h2>
    <img id="foto" src="~/images/mi_profile.png" alt="Profile Picture" />
</div>

<div class="text-center">
    <img id="dotnet-image" src="~/images/dotnet-imagen-2.png" alt="dotnet logo" />
</div>

<div class="row justify-content-center text-center welcomeBackground">
    <div class="col col-md-7 welcome-section">
        <h1>Welcome to my portfolio!</h1>
        <p>
            I have been developing software since 2020. I've had the privilege to work on different project as a freelancer, All of this working mainly with C#/ASP.NET, SQL Server, Entity Framework, JavaScript, and Java/Springboot'
        </p>
    </div>
</div>

<div style="margin-top: -105px">

    <div class="row justify-content-md-center align-content-center text-center">
        <div class="col col-3 bg-white habilities" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <h3>Back-End</h3>
            <p>
                Trabajo desde el desarrollo, pruebas automáticas y puesta en produccion con entrega continua.bar\OneDrive\Documentos\reposnet\WebApplication1
            </p>

            <p class="text-primary backendHeader">
                Stack:
            </p>

            <p>
                ASP.NET Core, SQL Server
            </p>

            <p class="text-primary BackendHeader">
                Experience:
            </p>

            <ul>
                <li>Web APIs</li>
                <li>ASP.NET Core MVC</li>
                <li>Entity Framework Core</li>
                <li>Blazor</li>
                <li>Dapper</li>
                <li>Queries espaciales</li>
                <li>Principios SOLID</li>
            </ul>
        </div>

        <div class="col col-3 bg-white habilities" style="border-radius:  0 15px 15px 0 ; box-shadow: 0 5px 5px 0 gray ">
            <h3>Front-End</h3>
            <p>
                Puedo crear front-ends robustos los cuales cumplen con los requerimientos del negocio
            </p>

            <p class="text-primary backendHeader">
                Stack:
            </p>

            <p>
                React, Angular, Blazor
            </p>

            <p class="text-primary BackendHeader">
                Experience:
            </p>

            <ul>
                <li>React Hooks</li>
                <li>Angular Material</li>
                <li>Blazor WASM</li>
                <li>JQuery</li>
                <li>Pruebas automáticas</li>
                <li>Leaflet</li>
                <li>Markdown</li>
            </ul>
        </div>

    </div>
</div>
